# Credit Card Verification
Updated 2021-07-10 19.49.55


* [What is credit card verification?](#whatisit)
* [How do I verify my new credit card?](#howtoverify)
* [What happens if I use all 3 attempts to verify my credit card?](#failattempts)
* [When will the authorizations be removed from my credit card statement?](#drop)
* [In what currency do the charges need to be entered in and how do I get the original amounts?](#conversion)
* [Are virtual online credit cards supported?](#virtual)

  
  
[url id=whatisit][/url]  
  
### What is credit card verification?
Credit card verification allows you to remove market restrictions associated with using a new credit card on Steam.  
  
[url id=howtoverify][/url]  
  
### How do I verify my new credit card?
After using a new credit card on Steam, please go to the [Credit Card Verification](https://store.steampowered.com/account/verifycards) page and choose the card you wish to verify. Two small pending authorizations will be sent to your bank account. These authorizations may take time to appear on your statement. Once they appear, you may enter the exact unconverted amounts into the fields on the verification page. Please note that you only have three attempts.  
  
[url id=failattempts][/url]  
  
### What happens if I use all three attempts to verify my credit card?
If you fail to verify the card after three attempts, you will have to wait the normal 3 day period to use the Market. Steam Support cannot override this.  
  
[url id=drop][/url]  
  
### When will the authorizations be removed from my credit card statement?
The authorizations will be removed from your credit card statement in 5-10 business days, whether you verified them or not.  
  
[url id=conversion][/url]  
  
### In what currency do the amounts need to be entered in and how do I get the original pre-converted amounts?
The verification authorizations are sent to your bank in the currency that is used in the Steam Store. If the bank converts these to your local currency, you must contact them to request the original amount before any fees or conversions. The phone number will be on the back of the card.  
  
[url id=virtual][/url]  
  
### Are virtual online credit cards supported?
Self verification does not currently support virtual credit cards. You must wait 3 days to use the Market each time you use a virtual card on Steam.  
  
***Don’t see your question? Check out the*** [***Community Market Group***](http://steamcommunity.com/groups/community_market) ***with user Discussions and official Announcements.***  
  
[section style=important] ### Important:
Steam Support cannot modify trading or Steam Community Marketplace restrictions, regardless of the circumstances under which your account became restricted.[/section]