# E-Mail Verification


* [Why should I verify my email address?](#why)
* [How do I verify my email address?](#verify)
* [I never received the verification email message from Steam Support. What should I do?](#noemail)
* [What do I do if I no longer have access to the contact email account on record with Steam?](#lostemail)
* [What can I expect to change once my email address has been verified?](#change)[

  
  
[url id=why][/url]## Why should I verify my email address?
  
Verifying your email address with Steam improves the security of your Steam Account. Once you've verified your email address with Steam, both your Steam Account password and access to your email account are required in order to make any changes to your Steam Account credentials, such as your password and contact email address. This helps further protect your Steam Account from being stolen by a potential phisher.  
  
  
[url id=verify][/url]## How do I verify my email address?
  
  
![{STEAM_CLAN_IMAGE}/1976/a30c53527108c680f3ede0566a47b4e5737260e5.png]({STEAM_CLAN_IMAGE}/1976/a30c53527108c680f3ede0566a47b4e5737260e5.png)  
  
Verifying your email address with Steam is a simple process:  
  
#### On Windows
  

* Right-click on the Steam icon in the System Tray and select **Settings** or press click **Settings** in the Steam option in the upper left corner of the client.
* Click on the **Verify email address** button.
* Follow the on-screen instructions.
* You should then receive an email message from Steam Support.
* Click the unique link provided in this email message to finish verifying your email address. The web page which then launches will confirm your success.

  #### On Mac
  

* Open Steam and click on **Steam > Preferences**
* Click on the **Verify email address** button.
* Follow the on-screen instructions.
* You should then receive an email message from Steam Support.
* Click the unique link provided in this email message to finish verifying your email address. The web page which then launches will confirm your success.

  
  
[url id=noemail][/url]## I never received the verification email message from Steam Support. What should I do?
  
If you do not receive the email message from Steam Support and you are running a Spam filter, check and make sure the message has not been filtered as spam.  
  
Please try adding "support@steampowered.com" and "noreply@steampowered.com" to your contacts or trusted senders list within your email client and attempt to re-verify your email address.  
  
  
[url id=lostemail][/url]## What do I do if I no longer have access to the contact email account on record with Steam?
  
If you no longer have access to the contact email address associated with your Steam Account, please [contact Steam Support](https://help.steampowered.com/en/faqs/view/6F69-0324-B2DB-6E7E).  
  
  
[url id=change][/url]## What can I expect to change once my email address has been verified?
Once you have successfully verified your email address, it will be indicated as **Verified** in your Steam Account settings.  
  
A Steam Account associated with a verified email address will behave a bit differently each time you make any changes to your Steam Account credentials. Steam Support will send an automated email message containing a confirmation code to your contact email address each time you begin to change your Steam Account password  or contact email address. This unique code must then be entered into Steam in order to complete the change to your account.  
  
Your email address will also continue to be used to communicate with you regarding your transactions on the Steam Store, and to assist you in regaining access to your Steam Account, should you ever need help with that.  
  
For more information on how to ensure the security of your Steam Account, please see the [Account Security Recommendations](https://help.steampowered.com/en/faqs/view/6639-EB3C-EC79-FF60) guide.